@import '../../assets/variables.scss';

.my-float-button {
  width: 40PX;
  height: 40PX;
  border-radius: 40PX;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale .5s;
  &.light {
    box-shadow: boxShadow(light, out, $normalSize);
    animation: shadow-light .5s;
    background: $light;
    &:active {
      box-shadow: boxShadow(light, out, $activeSize), boxShadow(light, inset, $normalSize);
    }
  }
  &.dark {
    box-shadow: boxShadow(dark, out, $normalSize);
    animation: shadow-dark .5s;
    background: $dark;
    &:active {
      box-shadow: boxShadow(dark, out, $activeSize), boxShadow(dark, inset, $normalSize);
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shadow-light {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: boxShadow(light, out, $normalSize);
  }
}
@keyframes shadow-dark {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: boxShadow(dark, out, $normalSize);
  }
}