@import '../../assets/variables.scss';

.float-btn-group {
  display: flex;
  width: 40PX;
  height: 40PX;
  border-radius: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  .main-btn, .setting-btn, .manage-btn, .info-btn  {
    display: flex;
    position: absolute;
    width: 40PX;
    height: 40PX;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: right .25s ease-in-out,
      opacity .25s ease-in-out,
      transform .25s ease-in-out;
    &.light {
      box-shadow: boxShadow(light, out, $normalSize);
      animation: shadow-light .5s;
      background: $light;
      &:active {
        box-shadow: boxShadow(light, out, $activeSize), boxShadow(light, inset, $normalSize);
      }
    }
    &.dark {
      box-shadow: boxShadow(dark, out, $normalSize);
      animation: shadow-dark .5s;
      background: $dark;
      &:active {
        box-shadow: boxShadow(dark, out, $activeSize), boxShadow(dark, inset, $normalSize);
      }
    }
    &.open {
      opacity: 1;
      z-index: 999;
    }
  }
  .main-btn {
    opacity: 1;
    z-index: 1;
    .icon-wrap {
      transition: transform .25s ease-in-out;
    }
    &.open {
      .icon-wrap {
        transform: rotate(-45deg);
      }
    }
  }
  .setting-btn {
    &.open {
      right: 50PX;
    }
  }
  .manage-btn {
    &.open {
      right: 100PX;
    }
  }
  .info-btn {
    &.open {
      right: 150PX;
    } 
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
    box-shadow: none;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shadow-light {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: boxShadow(light, out, $normalSize);
  }
}
@keyframes shadow-dark {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: boxShadow(dark, out, $normalSize);
  }
}