@import '../../assets/variables.scss';

.setting-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  width: 40vw;
  height: 40vw;
  margin: 2.5vw;
  transition: $normal;
  position: absolute;
  &.light {
    box-shadow: boxShadow(light, out, $normalSize);
    text-shadow: textShadow(light);
    &:active {
      box-shadow: boxShadow(light, out, $activeSize);
    }
  }
  &.dark {
    box-shadow: boxShadow(dark, out, $normalSize);
    text-shadow: textShadow(dark);
    &:active {
      box-shadow: boxShadow(dark, out, $activeSize);
    }
  }
  &.expand {
    width: 85vw;
    height: 85vw;
    z-index: 11;
  }
  &.none {
    transform: scale(0);
    opacity: 0;
  }
  &.lt {
    left: 0;
    top: 0;
  }
  &.rt {
    right: 0;
    top: 0;
  }
  &.lb {
    left: 0;
    bottom: 0;
  }
  &.rb {
    right: 0;
    bottom: 0;
  }
  .open-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    &.expand {
      transform: scale(0);
      z-index: -1;
    }
  }
  .btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20PX;
    width: 40PX;
    height: 40PX;
    border-radius: 15PX;
    transition: $normal;
    transform: scale(0);
    opacity: 0;
    &.expand {
      opacity: 1;
      transform: scale(1);
    }
    &.light {
      box-shadow: boxShadow(light, out, $normalSize);
      &:active {
        box-shadow: boxShadow(light, out, $activeSize), boxShadow(light, inset, $normalSize);
      }
    }
    &.dark {
      box-shadow: boxShadow(dark, out, $normalSize);
      &:active {
        box-shadow: boxShadow(dark, out, $activeSize), boxShadow(dark, inset, $normalSize);
      }
    }
  }
  .type-icon {
    display: flex;
    position: absolute;
    left: 20PX;
    top: 20PX;
    font-size: 30PX;
    transition: $normal;
    &.expand {
      opacity: 0;
      transform: scale(0);
    }
  }
  .type-title {
    display: flex;
    position: absolute;
    left: 20PX;
    bottom: 20PX;
    font-size: 15PX;
    &.expand {
      opacity: 0;
      transform: scale(0);
    }
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    width: 60vw;
    height: 60vw;
    transition: $normal;
    &.expand {
      opacity: 1;
      transform: scale(1);
    }
    
    // 主题选项样式
    .primary {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      .set-use-primary {
        position: absolute;
        height: 8vw;
        font-size: 4vw;
        line-height: 6vw;
        top: -10vw;
        right: -10vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &.light {
          .set-btn {
            box-shadow: boxShadow(light, out, $smallSize), boxShadow(light, inset, $smallSize);
            .btn-circle {
              background: $light;
              box-shadow: boxShadow(light, out, $normalSize);
              &:active {
                box-shadow: boxShadow(light, out, $activeSize);
              }
            }
          }
        }
        &.dark {
          .set-btn {
            box-shadow: boxShadow(dark, out, $smallSize), boxShadow(dark, inset, $smallSize);
            .btn-circle {
              box-shadow: boxShadow(dark, out, $normalSize);
              background: $dark;
              &:active {
                box-shadow: boxShadow(dark, out, $activeSize);
              }
            }
          }
        }
        &.open {
          .set-btn {
            .btn-circle {
              left: 8vw;
            }
          }
        }
        &.close {
          .set-btn {
            .btn-circle {
              left: 1vw;
            }
          }
        }
        .set-title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10PX;
        }
        .set-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 15vw;
          height: 8vw;
          border-radius: 4vw;
          position: relative;
          .btn-circle {
            position: absolute;
            width: 6vw;
            height: 6vw;
            border-radius: 50%;
            transition: $normal;
          }
        }
      }
      .color-hex {
        width: 100%;
        text-align: left;
      }
      .color-group {
        display: flex;
        flex-wrap: wrap;
        .color-bg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14vw;
          height: 14vw;
          border-radius: 50%;
          margin: 3vw;
          transition: $normal;
          &.light {
            box-shadow: boxShadow(light, out, $normalSize);
            &.current {
              box-shadow: boxShadow(light, inset, $smallSize), boxShadow(light, out, $normalSize);
            }
            &:active {
              box-shadow: boxShadow(light, inset, $smallSize), boxShadow(light, out, $activeSize);
            }
          }
          &.dark {
            box-shadow: boxShadow(dark, out, $normalSize);
            &.current {
              box-shadow: boxShadow(dark, inset, $smallSize), boxShadow(dark, out, $normalSize);
            }
            &:active {
              box-shadow: boxShadow(dark, inset, $smallSize), boxShadow(dark, out, $activeSize);
            }
          }
          .color-item {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $normal;
          }
        }
      }
    }

    // 人生进度选项样式
    .life {
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      &.light {
        .birthday, .age {
          box-shadow: boxShadow(light, inset, $normalSize);
        }
      }
      &.dark {
        .birthday, .age {
          box-shadow: boxShadow(dark, inset, $normalSize);
        }
      }
      .birthday, .age {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 60vw;
        height: 20vw;
        border-radius: 15PX;
        font-size: 6vw;
        .range {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 6vw;
          bottom: -6vw;
          font-size: 12PX;
          opacity: 0.8;
          color: #B4C0CB;
          .number {
            font-family: initial;
          }
        }
        .birth-text, .age-text {
          display: flex;
          width: 50vw;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          z-index: -1;
          .birth-name, .age-name {
            font-size: 14PX;
          }
        }
        .picker {
          width: 50vw;
          opacity: 0;
        }
        .age-text {
          transition: $normal;
        }
        input {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20vw;
          line-height: 20vw;
          text-align: center;
          opacity: 0;
          transition: $normal;
        }
      }
    }

    // 周起始选项样式
    .week {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .week-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 12vw;
        margin: 5vw;
        border-radius: 12vw;
        font-size: 4vw;
        position: relative;
        transition: $normal;
        &.light {
          box-shadow: boxShadow(light, out, $normalSize);
          &.current, &:active {
            box-shadow: boxShadow(light, out, $activeSize), boxShadow(light, inset, $normalSize);
          }
          &::before {
            box-shadow: boxShadow(light, inset, $normalSize);
          }
        }
        &.dark {
          box-shadow: boxShadow(dark, out, $normalSize);
          &.current, &:active {
            box-shadow: boxShadow(dark, out, $activeSize), boxShadow(dark, inset, $normalSize);
          }
          &::before {
            box-shadow: boxShadow(dark, inset, $normalSize);
          }
        }
        &::before {
          content: '';
          position: absolute;
          left: -5vw;
          width: 10PX;
          height: 10PX;
          border-radius: 50%;
        }
        &.current {
          &::before {
            background: #75C3FD;
            box-shadow: 0 0 10PX #75C3FD;
          }
        }
      }
    }

    // 视图选项样式
    .view {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .view-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vw;
        font-size: 10vw;
        transition: $normal;
        &.light {
          &.default {
            color: rgba($color: #000000, $alpha: .4);
            opacity: 0.4;
          }
        }
        &.dark {
          &.default {
            color: rgba($color: #fff, $alpha: .4);
            opacity: 0.4;
          }
        }
      }
      .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 12vw;
        border-radius: 6vw;
        position: relative;
        &.light {
          box-shadow: boxShadow(light, out, $normalSize), boxShadow(light, inset, $normalSize);
          &:active {
            box-shadow: boxShadow(light, out, $activeSize), boxShadow(light, inset, $normalSize);
          }
        }
        &.dark {
          box-shadow: boxShadow(dark, out, $normalSize), boxShadow(dark, inset, $normalSize);
          &:active {
            box-shadow: boxShadow(dark, out, $activeSize), boxShadow(dark, inset, $normalSize);
          }
        }
        .title {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          width: 20vw;
          height: 12vw;
          font-size: 4vw;
          transition: $normal;
          &.default {
            opacity: 0;
          }
          &.left {
            left: 0;
          }
          &.right {
            left: 10vw;
          }
        }
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 8vw;
          height: 8vw;
          border-radius: 50%;
          transition: $normal;
          &.light {
            box-shadow: boxShadow(light, out, $normalSize);
            &:active {
              box-shadow: boxShadow(light, out, $activeSize);
            }
          }
          &.dark {
            box-shadow: boxShadow(dark, out, $normalSize);
            &:active {
              box-shadow: boxShadow(dark, out, $activeSize);
            }
          }
          &.left {
            left: 2vw;
          }
          &.right {
            left: 20vw;
          }
        }
      }
    }
  }
}

