$cube: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
$normal: all .25s ease-in-out;
$radius: 15PX;

$light: #E3EDF7;
$dark: #233541;

$shadow-out-light:-3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .45),
3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .28);
$shadow-inset-light:inset -3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .45),
inset 3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .28);
$shadow-active-light:-1.5PX -1.5PX 3.5PX 0 rgba($color: #fff, $alpha: .45),
1.5PX 1.5PX 2.5PX 0 rgba($color: #5E6879, $alpha: .28);
$shadow-switch-light:inset -3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .4),
3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .28);
$light-gradient: radial-gradient(at 5px 5px,#ffd97d, #d9a15d );
$light-switch: inset 3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .4);
$shadow-icon-light: .5PX .5PX 1PX $light, 0 0 0 $dark, .5PX .5PX 1PX $light;
$shadow-text-light: 1PX 1PX 2PX $light, 0 0 0 rgba($color: $dark, $alpha: .6), 1PX 1PX 2PX $light;

$shadow-out-dark:-3PX -3PX 7PX 0 rgba($color: #2a404e, $alpha: .8),
3PX 3PX 5PX 0 rgba($color: #1c2a34, $alpha: .8);
$shadow-inset-dark:inset -3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .05),
inset 3PX 3PX 5PX 0 rgba($color: #000, $alpha: .2);
$shadow-active-dark:-1.5PX -1.5PX 3.5PX 0 rgba($color: #2a404e, $alpha: .8),
1.5PX 1.5PX 2.5PX 0 rgba($color: #1c2a34, $alpha: .8);
$shadow-switch-dark:inset -3PX -3PX 7PX 0 rgba($color: #2a404e, $alpha: .4),
3PX 3PX 5PX 0 rgba($color: #1c2a34, $alpha: .8);
$dark-gradient: radial-gradient(at 0px 0px, rgba($color: #233541, $alpha: 0) 50%, rgba($color: #DDE1E7, $alpha: 0.8) 50%);
$dark-switch: inset 3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .8);
$shadow-icon-dark: .5PX .5PX 1PX rgba(0,0,0,.4);
$shadow-text-dark: 1PX 1PX 2PX rgba(0,0,0,.4);

.setting-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  width: 40vw;
  height: 40vw;
  margin: 2.5vw;
  transition: $normal;
  position: absolute;
  &.light {
    box-shadow: $shadow-out-light;
    text-shadow: $shadow-text-light;
    &:active {
      box-shadow: $shadow-active-light;
    }
  }
  &.dark {
    box-shadow: $shadow-out-dark;
    text-shadow: $shadow-text-dark;
    &:active {
      box-shadow: $shadow-active-dark;
    }
  }
  &.expand {
    width: 85vw;
    height: 85vw;
    animation: expand .5s;
    z-index: 11;
  }
  &.none {
    transform: scale(0);
    opacity: 0;
  }
  &.lt {
    left: 0;
    top: 0;
  }
  &.rt {
    right: 0;
    top: 0;
  }
  &.lb {
    left: 0;
    bottom: 0;
  }
  &.rb {
    right: 0;
    bottom: 0;
  }
  .open-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    &.expand {
      transform: scale(0);
      z-index: -1;
    }
  }
  .btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20PX;
    width: 40PX;
    height: 40PX;
    border-radius: 15PX;
    transition: $normal;
    transform: scale(0);
    opacity: 0;
    &.expand {
      opacity: 1;
      transform: scale(1);
    }
    &.light {
      box-shadow: $shadow-out-light;
      &:active {
        box-shadow: $shadow-active-light, $shadow-inset-light;
      }
    }
    &.dark {
      box-shadow: $shadow-out-dark;
      &:active {
        box-shadow: $shadow-active-dark, $shadow-inset-dark;
      }
    }
  }
  .type-icon {
    display: flex;
    position: absolute;
    left: 20PX;
    top: 20PX;
    font-size: 30PX;
    transition: $normal;
    &.expand {
      opacity: 0;
      transform: scale(0);
    }
  }
  .type-title {
    display: flex;
    position: absolute;
    left: 20PX;
    bottom: 20PX;
    font-size: 15PX;
    &.expand {
      opacity: 0;
      transform: scale(0);
    }
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    width: 60vw;
    height: 60vw;
    transition: $normal;
    &.expand {
      opacity: 1;
      transform: scale(1);
    }
    
    // 主题选项样式
    .primary {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      .color-hex {
        width: 100%;
        text-align: left;
      }
      .color-group {
        display: flex;
        flex-wrap: wrap;
        .color-bg {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14vw;
          height: 14vw;
          border-radius: 50%;
          margin: 3vw;
          transition: $normal;
          &.light {
            box-shadow: $shadow-out-light;
            &.current {
              box-shadow: $shadow-inset-light;
            }
            &:active {
              box-shadow: $shadow-active-light, $shadow-inset-light;
            }
          }
          &.dark {
            box-shadow: $shadow-out-dark;
            &.current {
              box-shadow: $shadow-inset-dark;
            }
            &:active {
              box-shadow: $shadow-active-dark, $shadow-inset-dark;
            }
          }
          .color-item {
            width: 7vw;
            height: 7vw;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $normal;
          }
        }
      }
    }

    // 人生进度选项样式
    .life {
      display: flex;
      flex: 1;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      &.light {
        .birthday, .age {
          box-shadow: $shadow-inset-light;
        }
      }
      &.dark {
        .birthday, .age {
          box-shadow: $shadow-inset-dark;
        }
      }
      .birthday, .age {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 60vw;
        height: 20vw;
        border-radius: 15PX;
        font-size: 6vw;
        .range {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 6vw;
          bottom: -6vw;
          font-size: 12PX;
          opacity: 0.8;
          color: #B4C0CB;
          .number {
            font-family: initial;
          }
        }
        .birth-text, .age-text {
          display: flex;
          width: 50vw;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          z-index: -1;
          .birth-name, .age-name {
            font-size: 14PX;
          }
        }
        .picker {
          width: 50vw;
          opacity: 0;
        }
        .age-text {
          transition: $normal;
        }
        input {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20vw;
          line-height: 20vw;
          text-align: center;
          opacity: 0;
          transition: $normal;
        }
      }
    }

    // 周起始选项样式
    .week {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .week-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 12vw;
        margin: 5vw;
        border-radius: 12vw;
        font-size: 4vw;
        position: relative;
        transition: $normal;
        &.light {
          box-shadow: $shadow-out-light;
          &.current, &:active {
            box-shadow: $shadow-active-light, $shadow-inset-light;
          }
          &::before {
            box-shadow: $shadow-inset-light;
          }
        }
        &.dark {
          box-shadow: $shadow-out-dark;
          &.current, &:active {
            box-shadow: $shadow-active-dark, $shadow-inset-dark;
          }
          &::before {
            box-shadow: $shadow-inset-dark;
          }
        }
        &::before {
          content: '';
          position: absolute;
          left: -5vw;
          width: 10PX;
          height: 10PX;
          border-radius: 50%;
        }
        &.current {
          &::before {
            background: #75C3FD;
            box-shadow: 0 0 10PX #75C3FD;
          }
        }
      }
    }

    // 视图选项样式
    .view {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .view-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4vw;
        font-size: 10vw;
        transition: $normal;
        &.light {
          &.default {
            color: rgba($color: #000000, $alpha: .4);
            opacity: 0.4;
          }
        }
        &.dark {
          &.default {
            color: rgba($color: #fff, $alpha: .4);
            opacity: 0.4;
          }
        }
      }
      .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 12vw;
        border-radius: 6vw;
        position: relative;
        &.light {
          box-shadow: $shadow-out-light, $shadow-inset-light;
          &:active {
            box-shadow: $shadow-active-light, $shadow-inset-light;
          }
        }
        &.dark {
          box-shadow: $shadow-out-dark, $shadow-inset-dark;
          &:active {
            box-shadow: $shadow-active-dark, $shadow-inset-dark;
          }
        }
        .title {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;
          width: 20vw;
          height: 12vw;
          font-size: 4vw;
          transition: $normal;
          &.default {
            opacity: 0;
          }
          &.left {
            left: 0;
          }
          &.right {
            left: 10vw;
          }
        }
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 8vw;
          height: 8vw;
          border-radius: 50%;
          transition: $normal;
          &.light {
            box-shadow: $shadow-out-light;
            &:active {
              box-shadow: $shadow-active-light;
            }
          }
          &.dark {
            box-shadow: $shadow-out-dark;
            &:active {
              box-shadow: $shadow-active-dark;
            }
          }
          &.left {
            left: 2vw;
          }
          &.right {
            left: 20vw;
          }
        }
      }
    }
  }
}

@keyframes expand {
  0% {
    width: 40vw;
    height: 40vw;
  }
  60% {
    width: 86vw;
    height: 86vw;
  }
  85% {
    width: 84vw;
    height: 84vw;
  }
  100% {
    width: 85vw;
    height: 85vw;
  }
}
