@import '../../assets/variables.scss';

$light-text: rgba($color: $light, $alpha: .8);
$dark-text: rgba($color: $dark, $alpha: .6);

.my-action-item {
  display: flex;
  width: 44vw;
  height: 80PX;
  border-radius: 10PX;
  margin: 2vw;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  .item-percent {
    font-size: 20PX;
  }
  .color-block {
    position: absolute;
    width: 20PX;
    height: 10PX;
    border-radius: 5PX;
    right: 10PX;
    bottom: 10PX;
    &.light {
      box-shadow: boxShadow(light, inset, $normalSize);
    }
    &.dark {
      box-shadow: boxShadow(dark, inset, $normalSize);
    }
  }
  &.light {
    color: $dark-text;
    background: $light;
    box-shadow: boxShadow(light, out, $normalSize);
    //text-shadow: $shadow-text-light;
    &:active {
      box-shadow: boxShadow(light, inset, $normalSize), boxShadow(light, out, $activeSize);
    }
  }
  &.dark {
    color: $light-text;
    background: $dark;
    box-shadow: boxShadow(dark, out, $normalSize);
    //text-shadow: $shadow-text-dark;
    &:active {
      box-shadow: boxShadow(dark, inset, $normalSize), boxShadow(dark, out, $activeSize);
    }
  }
}