@import '../../assets/variables.scss';

$dot: 16PX;
$bar: 30PX;
$cur-color: #FF5F5C;

.my-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  .Indicator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $dot;
    width: 60PX;
    position: absolute;
    left: 4vw;
    .one, .two {
      display: flex;
      height: 100%;
      width: $dot;
      border-radius: $dot;
      transition: $normal;
      will-change: background;
      box-shadow: inset 1PX 1PX 2PX rgba(0,0,0,.4);
      &.light {
        &.cur {
          background: $cur-color;
        }
      }
      &.dark {

        &.cur {
          background: $cur-color;
        }
      }
    }
  }
  .my-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  .capsule {
    position: absolute;
    transition: $normal;
    will-change: box-shadow, background;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16PX;
    &.light {
      box-shadow: boxShadow(light, out, $normalSize);
      background: $light;
      text-shadow: textShadow(light);
      .middle-line {
        background: rgba($color: #000, $alpha: 0.2);
      }
      //border: 4PX solid $light;
    }
    &.dark {
      box-shadow: boxShadow(dark, out, $normalSize);
      background: $dark;
      text-shadow: textShadow(dark);
      .middle-line {
        background: rgba($color: #fff, $alpha: 0.1);
      }
      //border: 4PX solid $dark;
    }
    &.share {
      .more, .close-circle, .middle-line {
        opacity: 1;
      }
    }
    .more {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
    .close-circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
    .middle-line {
      position: absolute;
      width: 1px;
      height: 50%;
      border-radius: 1px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  }
}