@import '../../assets/variables.scss';

$dot: 16PX;
$bar: 30PX;
$cur-color: #FF5F5C;

.my-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  .Indicator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $dot;
    width: 60PX;
    position: absolute;
    left: 4vw;
    .one, .two {
      display: flex;
      height: 100%;
      width: $dot;
      border-radius: $dot;
      transition: $normal;
      will-change: background;
      box-shadow: inset 1PX 1PX 2PX rgba(0,0,0,.4);
      &.light {
        &.cur {
          background: $cur-color;
        }
      }
      &.dark {

        &.cur {
          background: $cur-color;
        }
      }
    }
  }
  .my-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  .capsule {
    position: absolute;
    transition: $normal;
    will-change: box-shadow, background;
    &.light {
      box-shadow: boxShadow(light, out, $normalSize);
      background: $light;
      //border: 4PX solid $light;
    }
    &.dark {
      box-shadow: boxShadow(dark, out, $normalSize);
      background: $dark;
      //border: 4PX solid $dark;
    }
  }
}