@import '../../assets/variables.scss';

.switch-back {
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-sun, .icon-moon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10PX;
    font-size: 20PX;
    &.light {
      text-shadow: textShadow(light);
    }
  }
  .icon-sun {
    &.light {
      color: rgba($color: #FFBF65, $alpha: .8);
    }
    &.dark {
      color: rgba($color: $light, $alpha: .2);
    }
  }
  .icon-moon {
    &.light {
      color: rgba($color: $dark, $alpha: .1);
    }
    &.dark {
      color: rgba($color: $light, $alpha: .9);
    }
  }
  .my-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60PX;
    height: 30PX;
    border-radius: 15PX;
    transition: box-shadow .25s ease-in-out, 
      border-color .25s ease-in-out,
      background .25s ease-in-out;
    &.light {
      box-shadow: boxShadow(light, inset, $normalSize);
      background: $light;
    }
    &.dark {
      box-shadow: boxShadow(dark, inset, $normalSize);
      background: $dark;
    }
    &:active {
      .my-icon {
        width: 25PX;
        &.dark {
          left: 25PX
        }
      }
    }
    .my-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20PX;
      height: 20PX;
      border-radius: 10PX;
      position: absolute;
      transition: background .25s ease-in-out, 
        box-shadow .25s ease-in-out, 
        left .25s ease-in-out,
        width .25s ease-in-out;
      &.light {
        background: $light;
        box-shadow: boxShadow(light, out, $normalSize);
        left: 5PX;
        color: rgba($color: #FFBD6D, $alpha: 0.8);
      }
      &.dark {
        background: $dark;
        box-shadow: boxShadow(dark, out, $normalSize);
        left: 30PX;
        color: rgba($color: #DDE1E7, $alpha: 0.8);
      }
    }
  }
}
