@import '../../assets/variables.scss';

.switch-back {
  display: flex;
  justify-content: center;
  align-items: center;
  .icon-sun, .icon-moon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10PX;
    font-size: 20PX;
    &.light {
      text-shadow: textShadow(light);
    }
  }
  .icon-sun {
    &.light {
      color: rgba($color: #FFBF65, $alpha: .8);
    }
    &.dark {
      color: rgba($color: $light, $alpha: .2);
    }
  }
  .icon-moon {
    &.light {
      color: rgba($color: $dark, $alpha: .1);
    }
    &.dark {
      color: rgba($color: $light, $alpha: .9);
    }
  }
  .my-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60PX;
    height: 30PX;
    border-radius: 15PX;
    transition: box-shadow .25s, border-color .25s, background .25s;
    &.light {
      box-shadow: boxShadow(light, inset, $normalSize);
      background: $light;
    }
    &.dark {
      box-shadow: boxShadow(dark, inset, $normalSize);
      background: $dark;
    }
    .my-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20PX;
      height: 20PX;
      border-radius: 10PX;
      position: absolute;
      transition: background .25s, box-shadow .25s, left .25s;
      &.light {
        background: $light;
        box-shadow: boxShadow(light, out, $normalSize);
        left: 5PX;
        color: rgba($color: #FFBD6D, $alpha: 0.8);
        animation: left 1s;
      }
      &.dark {
        background: $dark;
        box-shadow: boxShadow(dark, out, $normalSize);
        left: 30PX;
        color: rgba($color: #DDE1E7, $alpha: 0.8);
        animation: right 1s;
      }
    }
  }
}

@keyframes left {
  0% {
    left: 30PX;
  }
  60% {
    left: 3PX;
    width: 18PX;
  }
  85% {
    left: 6PX;
  }
  100% {
    left: 5PX;
    width: 20PX;
  }
}

@keyframes right {
  0% {
    left: 5PX;
  }
  60% {
    left: 32PX;
    width: 18PX;
  }
  85% {
    left: 29PX;
  }
  100% {
    left: 30PX;
    width: 20PX;
  }
}