$cube: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
$normal: all .25s ease-in-out;
$radius: 15PX;

$light: #E3EDF7;
$dark: #233541;

$shadow-out-light:-3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .45),
3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .28);
$shadow-inset-light:inset -3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .45),
inset 3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .28);
$shadow-touch-light:-1.5PX -1.5PX 3.5PX 0 rgba($color: #fff, $alpha: .45),
1.5PX 1.5PX 2.5PX 0 rgba($color: #5E6879, $alpha: .28);
$shadow-switch-light:inset -3PX -3PX 7PX 0 rgba($color: #fff, $alpha: .4),
3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .28);
$light-gradient: radial-gradient(at 5px 5px,#ffd97d, #d9a15d );
$light-switch: inset 3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .4);
$shadow-icon-light: .5PX .5PX 1PX $light, 0 0 0 $dark, .5PX .5PX 1PX $light;
$shadow-text-light: 1PX 1PX 2PX $light, 0 0 0 $dark, 1PX 1PX 2PX $light;


$shadow-out-dark:-3PX -3PX 7PX 0 rgba($color: #2a404e, $alpha: .8),
3PX 3PX 5PX 0 rgba($color: #1c2a34, $alpha: .8);
$shadow-inset-dark:inset -3PX -3PX 7PX 0 rgba($color: #2a404e, $alpha: .8),
inset 3PX 3PX 5PX 0 rgba($color: #1c2a34, $alpha: .8);
$shadow-touch-dark:-1.5PX -1.5PX 3.5PX 0 rgba($color: #2a404e, $alpha: .8),
1.5PX 1.5PX 2.5PX 0 rgba($color: #1c2a34, $alpha: .8);
$shadow-switch-dark:inset -3PX -3PX 7PX 0 rgba($color: #2a404e, $alpha: .4),
3PX 3PX 5PX 0 rgba($color: #1c2a34, $alpha: .8);
$dark-gradient: radial-gradient(at 0px 0px, rgba($color: #233541, $alpha: 0) 50%, rgba($color: #DDE1E7, $alpha: 0.8) 50%);
$dark-switch: inset 3PX 3PX 5PX 0 rgba($color: #5E6879, $alpha: .8);
$shadow-icon-dark: .5PX .5PX 1PX rgba(0,0,0,.4);
$shadow-text-dark: 1PX 1PX 2PX rgba(0,0,0,.4);

.setting-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 25vw;
  margin-bottom: 20PX;
  border-radius: $radius;
  overflow: hidden;
  &.light {
    box-shadow: $shadow-out-light;
    &.touch {
      box-shadow: $shadow-touch-light, $shadow-inset-light;
    }
  }
  &.dark {
    box-shadow: $shadow-out-dark;
    &.touch {
      box-shadow: $shadow-touch-dark, $shadow-inset-dark;
    }
  }
  .item-title, .item-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: transform .25s ease-in-out;
  }
  .item-title {
    flex: 3;
    justify-content: flex-start;
    .item-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25vw;
    }
    .item-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .text-title {
        line-height: 20PX;
        font-size: 14PX;
        font-weight: bold;
      }
      .text-desc {
        line-height: 14PX;
        font-size: 10PX;
        &.light {
          color: rgba($color: $dark, $alpha: .1);
        }
        &.dark {
          color: rgba($color: $light, $alpha: .4);
        }
      }
    }
  }
  .item-content {
    flex: 1;
    .item-switch {
      display: flex;
      align-items: center;
      height: 24PX;
      width: 56PX;
      border-radius: 24PX;
      position: relative;
      transition: background .25s;
      will-change: background;
      .switch {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32PX;
        height: 32PX;
        border-radius: 16PX;
        will-change: background, left;
        transition: background .25s, left .25s;
      }
      &.light {
        box-shadow: $light-switch;
        background: rgba($color: $dark, $alpha: .03);
        .switch {
          box-shadow: $shadow-out-light;
          background: $light;
          //text-shadow: $shadow-icon-light;
          left: -1PX;
        }
      }
      &.dark {
        box-shadow: inset 3PX 3PX 5PX 0 rgba(0, 0, 0, .4);
        background: rgba($color: $light, $alpha: .6);
        .switch {
          box-shadow: $shadow-out-dark;
          background: $dark;
          //text-shadow: $shadow-icon-dark;
          left: 25PX;
        }
      }
    }
    .item-birth {
      display: flex;
      align-items: center;
      position: relative;
      .birth-day {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .item-theme {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      .theme-btn {
        width: 40PX;
        height: 40PX;
        border-radius: 40PX;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        transition: $normal;
        &.light {
          box-shadow: $shadow-out-light;
          &.touch {
            box-shadow: $shadow-inset-light;
          }
        }
        &.dark {
          box-shadow: $shadow-out-dark;
          &.touch {
            box-shadow: $shadow-inset-dark;
          }
        }
      }
      .colors {
        display: flex;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        right: 0;
        transform: translateX(67.5vw);
        width: 67.5vw;
        .color-item {
          display: flex;
          width: 8vw;
          height: 8vw;
          border-radius: 4vw;
          position: relative;
          justify-content: center;
          align-items: center;
          &::before {
            content: '';
            position: absolute;
            border-radius: 6vw;
            width: 12vw;
            height: 12vw;
          }
        }
        &.light {
          .color-item {
            &::before {
              box-shadow: $shadow-out-light;
            }
            &.touch {
              &::before {
                box-shadow: $shadow-inset-light;
              }
            }
          }
        }
        &.dark {
          .color-item {
            &::before {
              box-shadow: $shadow-out-dark;
            }
            &.touch {
              &::before {
                box-shadow: $shadow-inset-dark;
              }
            }
          }
        }
      }
    }
    .item-life {
      input {
        text-align: center;
      }
    }
    .week-group, .view-group {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 22vw;
      .week-label, .view-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16vw;
        height: 8vw;
        border-radius: 8vw;
        position: relative;
        transition: $normal;
        font-size: 3.5vw;
        &.active {
          &::before {
            content: '';
            position: absolute;
            width: 1vw;
            height: 1vw;
            border-radius: 1vw;
            background: #55f696;
            box-shadow: 0 0 1vw #55f696;
            left: -4vw;
          }
        }
      }
      .view-label {
        &.active {
          &::before {
            background: #f2ac55;
            box-shadow: 0 0 1vw #f2ac55;
          }
        }
      }
      &.light {
        .week-label, .view-label {
          box-shadow: $shadow-out-light;
          &.touch {
            box-shadow: $shadow-touch-light, $shadow-inset-light;
          }
          &.active {
            box-shadow: $shadow-out-light, $shadow-inset-light;
          }
        }
      }
      &.dark {
        .week-label, .view-label {
          box-shadow: $shadow-out-dark;
          &.touch {
            box-shadow: $shadow-touch-dark, $shadow-inset-dark;
          }
          &.active {
            box-shadow: $shadow-out-dark, $shadow-inset-dark;
          }
        }
      }
    }
  }
}