@import '../../assets/variables.scss';

.index {
  height: 100%;
  width: 100%;
  transition: all .25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  &.light {
    background: $light;
    color: rgba($color: $dark, $alpha: 0.6);
    text-shadow: textShadow(light);
  }
  &.dark {
    background: $dark;
    color: rgba($color: $light, $alpha: 0.8);
    text-shadow: textShadow(dark);
  }
  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .swiper-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .scroll-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .list {
          margin: auto;
          &.share {
            margin: initial;
          }
        }
      }
    }
  }
  .list-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: $radius;
    transition: all .25s;
  }

  .float-btn {
    position: absolute;
    right: 4vw;
    transition: $cubic;
    &.hidden {
      transform: scale(0);
    }
  }
}