@import '../../assets/variables.scss';

.index {
  height: 100%;
  width: 100%;
  transition: all .25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: var(--text-normal);
  &.light {
    background: $light;
    text-shadow: textShadow(light);
  }
  &.dark {
    background: $dark;
    text-shadow: textShadow(dark);
  }
  .full-layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transition: background .5s ease-in-out;
    background: var(--background);
    z-index: var(--z-index);
  }
  .scroll-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    .list {
      .list-full-layer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        transition: background .5s ease-in-out;
        background: var(--layer-background);
        z-index: var(--z-index);
      }
      margin: auto;
      &.share {
        margin: initial;
      }
    }
  }

  .list-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: $radius;
    transition: all .25s;
  }

  .float-btn {
    position: absolute;
    right: 4vw;
    transition: $cubic;
    z-index: 999;
    &.hidden {
      transform: scale(0);
    }
  }
}